.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/***variables **/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


/**Global style **/

::after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.0875rem;
    line-height: 1.5;
    color: var(--clr-grey-1);
    background: var(--clr-grey-10);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.875rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    color: var(--clr-grey-5);
    margin-bottom: 1.25rem;
    font-size: 0.8rem;
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/***global classes ***/

main {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
}

.container {
    width: 80vw;
    max-width: var(--fixed-width);
}

.btn {
    background: var(--clr-primary-5);
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: capitalize;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    cursor: pointer;
    margin: 2rem auto;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.underline {
    margin: 2rem auto;
    color: blue;
    margin-top: 1em;
    height: 0.25rem;
    width: 6rem;
    background-color: var(--clr-primary-5);
}

.review {
    background-color: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.img-container:before {
    content: "";
    width: 100%;
    right: -0.25rem;
    top: -0.25rem;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    border-radius: 50%;
}

.quote-icon {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    width: 2.5rem;
    height: 2.5rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.button-container {
    margin-top: 2em;
}

.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.random-btn {
    background-color: var(--clr-primary-10);
    border-color: transparent;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    color: var(--clr-primary-5);
}