/***variables **/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


/**Global style **/

::after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.0875rem;
    line-height: 1.5;
    color: var(--clr-grey-1);
    background: var(--clr-grey-10);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.875rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    color: var(--clr-grey-5);
    margin-bottom: 1.25rem;
    font-size: 0.8rem;
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/***global classes ***/

main {
    width: 90vw;
    margin-top: 2rem;
    margin: 0 auto;
    max-width: var(--max-width);
}

.btn {
    background: var(--clr-primary-5);
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: capitalize;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    cursor: pointer;
    margin: 2rem auto;
    text-align: center;
}


/***Tours ****/

.title {
    text-align: center;
    margin: 0 auto;
}

.underline {
    margin: 2rem auto;
    color: blue;
    margin-top: 1em;
    height: 0.25rem;
    width: 6rem;
    background-color: var(--clr-primary-5);
}

.single-tour {
    background-color: var(--clr-white);
    margin: 2rem 0;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}

.single-tour footer {
    padding: 1.5rem 2rem;
}

.single-tour img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.tour-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-price {
    color: var(--clr-primary-5);
    background-color: var(--clr-primary-10);
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
}

.single-tour .delete-btn {
    background: var(--clr-white);
    color: var(--clr-red-dark);
    padding: 0.2rem 0.5rem;
    width: 200px;
    border: 1px solid var(--clr-red-dark);
    display: block;
    margin: 1rem auto 0;
    border-radius: var(--radius);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load {
    color: #f9e5ff;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: #d62828;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
    border-radius: 0.5rem;
}

.my-loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.loader-bars:after {
    left: 15px;
    animation: grow 1.4s linear -0.5s infinite;
}

.loader-bars span {
    left: 30px;
}

.loader-bars:before,
.loader-bars:after,
.loader-bars span {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #f9e5ff;
    animation: grow 1.5s linear infinite;
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
    }
}